@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700);

.example {
	margin-bottom: 80px;
	border-bottom: 1px solid black;
	overflow: hidden;
}

.example h3 {
	color: gray;
	margin: 10px 0 15px;
	font-weight: normal;
	float: left;
	font-size: 2.5em;
}

.example h3 + p {
	clear: both;
}

.example h3 span {
	color: #c1c1c1;
}

.example a {
	color: #39393a;
}

.info {
	width: 650px;
	padding: 20px;
	color: gray;
	font-size: 0.9em;
	line-height: 1.7em;
}

.preview {
	float: left;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 110px;
}

.container {
	margin: 50px auto auto;
	width: 650px;
	font-family: "Lora", helvetica, arial, sans-serif;
}

.landing {
	margin: 150px 0 70px;
	font-family: "Lora", helvetica, arial, sans-serif;
}

.landing h1, .landing h2 {
	font-weight: 300;
	text-align: center;
}

.landing h1 {
	font-size: 4em;
	font-weight: bold;
	color: black;
	font-style: italic;
}

.landing h2 {
	margin-top: -40px;
	color: #bababa;
	font-style: italic;
	font-size: 1.6em;
}

.nav {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	margin-top: 80px;
	padding-bottom: 5px;
}

.nav li {
	margin-top: 5px;
	display: inline-block;
	padding: 5px;
}

.nav li a {
	display: inline-block;
	padding: 5px;
	color: black;
	font-size: 1.2em;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}

.code {
	font-family: Monaco;
	display: block;
	padding: 30px 25px;
	background: #f6f6f6;
	color: #434746;
	line-height: 1.6em;
	font-size: 0.9em;
}

.current a {
	border-bottom: 2px solid #e1e1e1;
	line-height: 0.3em;
}

.footer {
	padding: 0 50px 120px;
	margin-top: -30px;
	font-size: 1.3em;
	line-height: 1.5em;
	overflow: hidden;
	color: #424242;
}

.footer a {
	color: #424242;
	text-decoration: none;
}

.footerLeft {
	float: left;
}

.footerRight {
	float: right;
}

.mainTitle {
	text-align: center;
	font-size: 1.4em;
}

.usage {
	margin-top: -20px;
	margin-bottom: 50px;
	line-height: 1.6em;
}